<ion-header>
    <ion-toolbar>
        <ion-title>Blogs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Recente blogs</ion-title>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Astrid Martirossian</ion-card-subtitle>
            <ion-card-title>Freelance animator en illustrator</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="blog-content">
                Hi! Ik ben Astrid Martirossian, freelance animator en illustrator. Ik vertaal verhalen naar originele
                beelden.
                Wij mensen zijn dol op visuele content. Kijk maar eens goed om je heen: overal zie je video’s,
                uitleganimaties, geïllustreerde platen, gifjes, emoji’s, noem maar op.
            </div>
        </ion-card-content>
    </ion-card>
    <hr>
    <ion-title>Blogs in jouw vakgebied</ion-title>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Nick Plokkaar</ion-card-subtitle>
            <ion-card-title>Studenten organisatie Lugus</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="blog-content">
                Wil jij je eigen bedrijf starten als student, maar weet je niet echt waar je moet beginnen? Lees hoe
                Lugus jou kan helpen.
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Organisatie PLNT</ion-card-subtitle>
            <ion-card-title>De plek voor de makers van morgen</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="blog-content">
                LNT Leiden zet zich in om innovatie en ondernemerschap aan te jagen in Leiden en regio. Het centrum
                biedt hiervoor vitale grondstoffen, zoals een actieve community, divers netwerk, actuele kennis en
                flexibele ruimtes en werkplekken.
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
