<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<br>
<ion-content>
    <ion-title>Uitgelicht</ion-title>
    <ion-card>
        <ion-card-content>
            <ion-grid class="news-card-title">
                <ion-row>
                    <ion-col size="11">
                        <ion-card-subtitle>Lugus</ion-card-subtitle>
                    </ion-col>
                    <ion-col class="ion-align-self-end" size="1">
                        <ion-icon class="news-open-icon" name="open-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-card-title>
                Ben jij al een student ondernemer? Lees hoe Lugus je kan ondersteunen en verder kan helpen.
            </ion-card-title>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-title>Nieuws</ion-title>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card class="news-card">
                    <ion-card-content>
                        <ion-grid class="news-card-title">
                            <ion-row>
                                <ion-col size="11">
                                    <ion-card-subtitle>HSLeiden</ion-card-subtitle>
                                </ion-col>
                                <ion-col class="ion-align-self-end" size="1">
                                    <ion-icon class="news-open-icon" name="open-outline"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-card-title>
                            heel HSLeiden werkt vanaf thuis.
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="news-card">
                    <ion-card-content>
                        <ion-grid class="news-card-title">
                            <ion-row>
                                <ion-col size="11">
                                    <ion-card-subtitle>AppSight</ion-card-subtitle>
                                </ion-col>
                                <ion-col class="ion-align-self-end" size="1">
                                    <ion-icon class="news-open-icon" name="open-outline"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-card-title>
                            Bijeenkomsten van AppSight nu digitaal.
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card class="news-card">
                    <ion-card-content>
                        <ion-grid class="news-card-title">
                            <ion-row>
                                <ion-col size="11">
                                    <ion-card-subtitle>AppSight</ion-card-subtitle>
                                </ion-col>
                                <ion-col class="ion-align-self-end" size="1">
                                    <ion-icon class="news-open-icon" name="open-outline"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-card-title>
                            AppSight is bezig met een prototype voor Lugus.
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="news-card">
                    <ion-card-content>
                        <ion-grid class="news-card-title">
                            <ion-row>
                                <ion-col size="11">
                                    <ion-card-subtitle>Start(Pop)up</ion-card-subtitle>
                                </ion-col>
                                <ion-col class="ion-align-self-end" size="1">
                                    <ion-icon class="news-open-icon" name="open-outline"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-card-title>
                            De nieuwste pop-up design van StartPopup
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

  <ion-fab-button class="chat" slot="fixed">
    <ion-icon name="chatbubble"></ion-icon>
  </ion-fab-button>


</ion-content>
