<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-button slot="start" color="none" (click)="presentPopover($event)">Filters</ion-button>
      <ion-searchbar slot="end"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <br>

    <ion-title>Nieuwe leden</ion-title>
    <br>
    <ion-list class="toplist">

        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="3">
                <ion-avatar>
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
                </ion-avatar>
              </ion-col>
              <ion-col size="5">
                <ion-text>James Miller</ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text>Informatica</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="3">
                <ion-avatar>
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
                </ion-avatar>
              </ion-col>
              <ion-col size="5">
                <ion-text>Leroy Jethro Gibbs</ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text>Detective</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
            <ion-row>
              <ion-col size="3">
                <ion-avatar>
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
                </ion-avatar>
              </ion-col>
              <ion-col size="5">
                <ion-text>Stefan Damen</ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text>Informatica</ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

    </ion-list>

    <br>

    <ion-title>Leden in jouw vakgebied</ion-title>
    <br>
    <ion-list class="bottomlist">

      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-avatar>
                <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="5">
              <ion-text>James Miller</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Informatica</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-avatar>
                <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="5">
              <ion-text>Leroy Jethro Gibbs</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Detective</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="5">
            <ion-text>Stefan Damen</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text>Informatica</ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-avatar>
                <ion-img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"></ion-img>
              </ion-avatar>
            </ion-col>
            <ion-col size="5">
              <ion-text>Valerie Timmerman</ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text>Informatica</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-list>

    <ion-fab-button class="chat" color="none" slot="fixed">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-fab-button>

  </ion-content>

</ion-app>
